html, body {
    height: 100%;
    width: 100%;
  }

.heading {
    margin-top: 15px;
}

.main {
    padding-left: 15px;
    padding-right: 15px;
}

.heading img {
    width:60px;
    float: left;
    padding: 5px;
} 

.row {
    margin-top: 10px;
    margin-bottom: 10px;
}

.box {
    font-weight: bold;
    font-size: 20px;
}

input {
    width: 100%;
}

.searchInp {
    width:260px;
    padding: 6px ;
    font-size: 16px;
    border: none;
    background-color: #D3D3D3;
    color: white;
    outline: none;
}

.searchbtn {
    float: right;
    font-size: 16px;
    padding: 6px 10px;
    border: none;
    cursor: pointer;
    background-color: #D3D3D3;
    color: white;
}

::placeholder {
    color: white;
  }
  

span {
    color: red;
}

.entry {
    padding: 15px;
}

.title {
    font-weight: bold;
}

.top {
    font-size:2.5rem;
    font-weight: bold;
}

table, tbody {
    border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }

  .number {
      display: flex;
      text-align: left;
  }

  footer {
    background-color: #3f3f3f;
    color: #d5d5d5;
    padding-top: 2rem;
    bottom: 0;
    height: 40%;
  }

  .social a {
    font-size: 3rem;
    padding: 2.5rem;
    color: white;
  }
  .social a:hover {
    color:#d5d5d5;
  }
  .social p {
      font-size: 2.5rem;
  }

@media (max-width: 768px) {
    #myTable {
        font-size: small;
    }
    th {
        margin-left: 3px;
    }
    .searchInp{
        width: 170px;
        font-size:14px;
    }
    .top {
        font-size: 1.65rem;
    }
    .des p{
       font-size: 0.7rem;
    }
    .heading img {
        width:40px;
        float: left;
        padding: 5px;
    } 
    .social a {
        font-size:  2.2rem;
        padding: 1.2rem;
      }
      .social p {
        font-size: 2rem;
    }
    footer {
        height: 30%;
    }
}
