html, body {
    margin: auto;
}

body {
    padding-left: 15px;
    padding-right: 15px;
}
.heading {
    margin-top: 15px;
}

.row {
    margin-top: 10px;
    margin-bottom: 10px;
}

.box {
    font-weight: bold;
    font-size: 20px;
}

input {
    width: 100%;
}

.searchInp {
    width:200px;
    font-size: 16px;
    display: none;
}


button {
    width: 150px;
    padding: 10px;
    border: none;
    background:  #669999;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    }
    button:hover {
    background:  #a3c2c2;
    }


span {
    color: red;
}

.entry {
    padding: 15px;
}

.title {
    font-weight: bold;
}

.top {
    font-size:2.5rem;
    font-weight: bold;
}

table, tbody {
    border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }

  .number {
      display: flex;
      text-align: left;
  }

@media (max-width: 768px) {
    #myTable {
        font-size: small;
    }
    th {
        margin-left: 3px;
    }
    .searchbtn {
        width: 130px;
        font-size:14px;
    }
    .searchInp{
        width: 170px;
        font-size:14px;
    }
    .top {
        font-size: 1.65rem;
    }
    .des p{
       font-size: 0.6rem;
    }
}
